<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Medi Care</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
    <link rel="icon" href="{{url_for('static', filename='medical.png')}}"">
  </head>

  <body>
    <div class="top_navigator">
      <div class="top_navigator1">SMART HEALTHCARE RECOMMENDATION PLATFORM</div>
    </div>

    <div class="navbar">
      <div class="navbar-title"></div>
      <ul class="navbar-links">
        <li><a href="{{url_for('faq')}}">FAQ</a></li>

        <li>
          <a href="javascript:void(0)" class="contact-link" id="contactLink"
            >Contact</a
          >
          <div class="dropdown-content" id="dropdownContent">
            <p>Email: support@healthcare.com</p>
            <p>Phone: +123-456-7890</p>
          </div>
        </li>

        <li><a href="#">About</a></li>
      </ul>
    </div>

    <div>
      <div>
        <a href="{{url_for('diagnose')}}" class="my-button"
          >DISEASE DIAGNOSIS</a
        >
      </div>
      <div><a href="#" class="my-button1">HEALTH TRACK</a></div>
      <div class="image">
        <img
          src="{{url_for('static', filename='dort.png')}}"
          width="500"
          height="300"
        />
      </div>
      <div class="image1">
        <img
          src="{{url_for('static', filename='dr2.jpg')}}"
          width="300"
          height="300"
        />
      </div>
      <!-- <div class="image2"><img src="fitness1.png"  width="300" height="300"></div> -->
    </div>
    <script src="contact.js"></script>
  </body>
</html>
